@model Root

@foreach(var weather in @Model.list.DistinctBy(u =>
Convert.ToDateTime(u.dt_txt).DayOfWeek))
{
	<article>
		<section class="header-card">
			<h2>Current Weather</h2>
			<h4>@weather.dt_txt</h4>
			<a href="#">more</a>
		</section>
		<section class="weather">
			<h3>@weather.main.temp.ToString("#")</h3>

			Feels Like:
			@weather.main.feels_like.ToString("#")
			<br>
			Wind: @weather.wind.speed.ToString("#")
			<br>
			Wind Guts: @weather.wind.gust.ToString("#")
		</section>
	</article>
}
